/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --orange: #ed6a5a;
  --orange-light: #fbdeda;
  --grey-light: #e6e6e6;
  --grey: #858585;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* color: var(--color-text);
  background: var(--color-background); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-orange-light{
background-color: var(--orange-light);
}

.bg-orange{
  background-color: var(--orange);
}

.orange-text{
  color: var(--orange);
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  padding: 20px 10px;
}

.col-4{
  width: 33.33333333%;
}
.col-6{
  width: 50%;
}
.col-12{

}
.w-100{
  width: 100%;
}

.font-height-small{
font-size: 15px;
}

.font-height-normal{
  font-size: 25px;
}


.font-weight-bolder{
  font-weight: bolder;
}

.font-weight-thin{
  font-weight:300;
}
.font-weight-normal{
  font-weight: normal;
}
.price-high{

  font-size: 30px;
  padding: 0 5px; 
  border-radius: 5px;
}
.price-normal{

}

hr{
  margin-top: 15px;
  height: 1px;
  size: 1px;
}


.d-flex{
  display: flex;
}

.d-block{
  display: block;
}
.d-inline{
  display: inline;
}

.text-center{
  text-align: center;
}
.text-end{
text-align: end;
}

.text-start{
  text-align: start;
}
.justify-content-center{
justify-content: center;
}

.align-items-center{
  align-items: center;
}

.justify-space-between{
  justify-content: space-between;
}

.card{
  border-radius: 20px;
  box-shadow: 0px 2px 1px 3px var(--grey-light);
  min-height: 50px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  
}

.input-personas{
  border-radius: 20px;
  height: 50px;
  font-size: 25px;
  line-height: 1px;
  font-weight: bolder;
  border: 1px solid black;
  width: 50%;
  padding-left: 15px;
}

.input-cantidad{
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 25px;
  font-weight: bolder;
  text-align: end;
}
.input-cantidad:focus{
  outline: none !important;
  border: none;
  border-bottom: 1px solid var(--orange); 
}

